.flexbox {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
}

.flex-nowrap {
  -moz-flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.flex-wrap {
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-column {
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.flex-justify-start {
  -moz-justify-content: flex-start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.flex-justify-center {
  -moz-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.flex-justify-end {
  -moz-justify-content: flex-end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.flex-justify-space-around {
  -moz-justify-content: space-around;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.flex-justify-space-between {
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.flex-align-start {
  -moz-align-items: flex-start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

.flex-align-center {
  -moz-align-items: center;
  -webkit-align-items: center;
  align-items: center;
}

.flex-align-end {
  -moz-align-items: flex-end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

.flex1 {
  -moz-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
